<main class="p-4">
<div class="flex flex-col lg:flex-row bg-white rounded-lg shadow-lg max-w-4xl w-full overflow-hidden">
  <div class="bg-blue-900 text-white p-8 lg:w-1/2 flex flex-col justify-center">
    <h2 class="text-3xl font-bold mb-4">Information:</h2>
    <p class="text-lg leading-relaxed mb-8">
      Inscrivez-vous dès maintenant pour profiter pleinement de notre plateforme.
      En créant un compte, vous pourrez accéder à toutes les fonctionnalités, gérer votre profil, suivre vos activités et rester informé en temps réel.
      L'inscription est simple, rapide et totalement gratuite !
    </p>
    <button class="bg-white text-blue-900 font-semibold py-3 px-6 rounded-md shadow hover:bg-gray-100 transition duration-300">
      create your account
    </button>
  </div>

  <div class="p-8 lg:w-1/2 flex flex-col justify-center">
    <h2 class="text-3xl font-bold mb-6 text-gray-800">Register Now :</h2>
    <form [formGroup]="registerForm">
      <div class="mb-5">
        <label for="fullName" class="block text-gray-700 text-lg font-semibold mb-2">full name :</label>
        <input type="text" id="fullName" formControlName="fullName" placeholder="enter your full name :" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <div class="mb-5">
        <label for="email" class="block text-gray-700 text-lg font-semibold mb-2">email :</label>
        <input type="email" id="email" formControlName="email" placeholder="enter email ex : user@gmail.com" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <div class="mb-8">
        <label for="password" class="block text-gray-700 text-lg font-semibold mb-2">password :</label>
        <input type="password" id="password" formControlName="password" placeholder="enter your password:" class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>

        <div class="mb-6">
            <label for="role" class="block text-gray-700 text-lg font-semibold mb-2">Role:</label>
            <select id="role" formControlName="role"
                    class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="" disabled selected>-- Select your role --</option>
                <option value="USER">Formateur</option>
                <option value="ADMIN">Apprenant</option>
            </select>
        </div>

      <div class="flex justify-end">
        <button type="submit" class="bg-blue-700 text-white font-semibold py-3 px-8 rounded-md shadow hover:bg-blue-800 transition duration-300">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
</main>
